<div>

  <h2>Formulaire de connexion</h2>

  <form [formGroup]="loginForm" novalidate
    (ngSubmit)="save(loginForm.value, loginForm.valid)">

    <div class="form-group">
      <label>Adresse courriel</label>
      <input type="text" class="form-control" name="email" formControlName="email" required>
      <div [hidden]="loginForm.controls.email.valid ||
        loginForm.controls.email.pristine"
        class="alert alert-danger">
        L'adresse courriel est requise et doit être du domaine ens.etsmtl.ca
      </div>
    </div>

    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" name="password" formControlName="password" required>
      <div [hidden]="loginForm.controls.password.valid ||
        loginForm.controls.password.pristine"
           class="alert alert-danger">
        Le mot de passe est requis et doit faire entre 5 et 50 caractères
      </div>
    </div>

    <div [hidden]="!hasSubmissionError"
      class="alert alert-danger">
      Une erreur est survenu lors de l'authentification, veuillez réessayer plus tard.
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">Envoyer</button>

  </form>

</div>
