<div>

  <h2>Formulaire d'enregistrement</h2>

  <form [formGroup]="registerForm" novalidate
    (ngSubmit)="save(registerForm.value, registerForm.valid)">

    <div class="form-group">
      <label>Prénom</label>
      <input type="text" class="form-control" name="firstName" formControlName="firstName" required>
      <div [hidden]="registerForm.controls.firstName.valid ||
        registerForm.controls.firstName.pristine"
        class="alert alert-danger">
        Le prénom est requis
      </div>
    </div>

    <div class="form-group" >
      <label>Nom de famille</label>
      <input type="text" class="form-control" name="lastName" formControlName="lastName" required>
      <div [hidden]="registerForm.controls.lastName.valid ||
        registerForm.controls.lastName.pristine"
        class="alert alert-danger">
        Le nom de famille est requis
      </div>
    </div>

    <div class="form-group" >
      <label>Adresse courriel de l'école</label>
      <input type="text" class="form-control" name="email" formControlName="email" required>
      <div [hidden]="registerForm.controls.email.valid ||
        registerForm.controls.email.pristine"
        class="alert alert-danger">
        L'adresse courriel est requise et doit être du domaine ens.etsmtl.ca
      </div>
    </div>

    <div class="form-group" >
      <label>Programme d'étude</label>
      <select class="form-control" name="programId" formControlName="programId" (change)="getCurrentProgramConcentrations()">
        <option value="" disabled selected hidden></option>
        <option *ngFor="let program of programs" [ngValue]="program.id">{{program.name}}</option>
      </select>
      <div [hidden]="registerForm.controls.programId.valid ||
        registerForm.controls.programId.pristine"
        class="alert alert-danger">
        Le programme d'étude est requis
      </div>
    </div>

    <div class="form-group">
      <label>Concentration</label>
      <select class="form-control" name="concentrationId" formControlName="concentrationId">
        <option value="" disabled selected hidden></option>
        <option *ngFor="let concentration of currentProgramConcentrations" [ngValue]="concentration.id">{{concentration.description}}</option>
      </select>
      <div [hidden]="registerForm.controls.concentrationId.valid ||
        registerForm.controls.concentrationId.pristine"
           class="alert alert-danger">
        La concentration est requise
      </div>
    </div>

    <div class="form-group" >
      <label>Cochez les tests diagnostiques réussis</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" name="successMatTest" formControlName="successMatTest">
          MatTest
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" name="successPhyTest" formControlName="successPhyTest">
          PhyTest
        </label>
      </div>
      <div class="checkbox" *ngIf="isLogicielOrTiProgram()">
        <label>
          <input type="checkbox" value="" name="successInfTest" formControlName="successInfTest">
          InfTest
        </label>
      </div>
    </div>

    <div class="form-group" >
      <label>Première session d'étude</label>
      <select class="form-control" name="startingSessionId" formControlName="startingSessionId">
        <option value="" disabled selected hidden></option>
        <option *ngFor="let session of sessions" [ngValue]="session.id" [ngSwitch]="session.season">
          <span *ngSwitchCase="seasonEnum.SUMMER">Été</span>
          <span *ngSwitchCase="seasonEnum.WINTER">Hiver</span>
          <span *ngSwitchCase="seasonEnum.AUTUMN">Automne</span>
          <span>{{ session.year }}</span>
        </option>
      </select>
      <div [hidden]="registerForm.controls.startingSessionId.valid ||
        registerForm.controls.startingSessionId.pristine"
           class="alert alert-danger">
        La première session d'étude est requise
      </div>
    </div>

    <div class="form-group" >
      <label>Mot de passe</label>
      <input type="password" class="form-control" name="password" formControlName="password" required>
      <div [hidden]="registerForm.controls.password.valid ||
        registerForm.controls.password.pristine"
        class="alert alert-danger">
        Le mot de passe est requis et doit faire entre 5 et 50 caractères
      </div>
    </div>

    <div [hidden]="!hasSubmissionError"
      class="alert alert-danger">
      Une erreur est survenu lors de la création du compte, veuillez réessayer plus tard.
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!registerForm.valid || hasSubmissionError">Envoyer</button>
  </form>
</div>
