<div class="grid" *ngIf="course">
  <div class="">
    <p class="margin-top-bottom-0px"><span class="h3">{{course.name}}  </span><span class="label label-primary">{{course.acronym}}</span></p>
  </div>
  <div class="padding-top-20px main-content col-lg-9 col-md-9 col-sm-9 col-xs-9 text-justify">
    {{course.description}}
  </div>

  <div class="padding-top-20px well col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <span *ngIf="course.requiredCredits"><b>Crédits requis : </b> {{ course.requiredCredits }} <br /></span>
    <b>Crédits : </b> {{ course.credits }} <br />
    <span *ngIf="course.prerequisites.length">
      <b>Prérequis : </b>
      <span *ngFor="let prerequisite of course.prerequisites">
          <a routerLinkActive="active" routerLink="/courses/{{prerequisite.id}}">{{prerequisite.acronym}}</a>&nbsp;
      </span><br />
    </span>


    <br /><b>Liens utiles : </b><br />
    <a target="_blank" href="https://www.etsmtl.ca/Programmes-Etudes/1er-cycle/Fiche-de-cours?Sigle={{course.acronym}}">Site de l'ÉTS</a> <br />
    <a target="_blank" href="https://cours.etsmtl.ca/{{course.acronym}}">Site du cours</a> <br />
    <a target="_blank" href="https://planets.etsmtl.ca/public/Versionpdf.aspx?sigle={{course.acronym}}">Plan de cours</a>

  </div>
</div>
