<div class="well grid" *ngIf="user && session && program">
  <div class="">
    <p class="h3 margin-top-bottom-0px">{{user.firstName}} {{user.lastName}}</p>
    <span class="label label-primary">{{program.name}}</span>
    <span class="label label-info" [ngSwitch]="session.season">
      <span *ngSwitchCase="seasonEnum.SUMMER">Été</span>
      <span *ngSwitchCase="seasonEnum.WINTER">Hiver</span>
      <span *ngSwitchCase="seasonEnum.AUTUMN">Automne</span>
      <span>{{ session.year }}</span>
    </span>
  </div>
  <div class="padding-top-20px">
    <b>Adresse courriel: </b> {{user.email}}
  </div>
</div>

<div class="well grid">
  <h3>Cours précédemment réussis</h3>
  <p>Pour que la génération du cheminement se fasse selon vos besoins réels, vous pouvez sélectionner les cours que vous avez déjà réussis, ceux-ci seront donc exclus des choix de cours de la prochaine génération que vous lancerez.</p>
  <button type="button" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" 
    *ngFor="let programCourse of programCourses"
    [ngClass]="{'active': programCourse.checked}"
    (click)="togglePastSessionCourse(programCourse)"
    style="margin: 2px; width: 95px; display:inline-block;">
      {{ programCourse.courseAcronym }}
  </button>
</div>
