p.margin-top-bottom-0px {
  margin-bottom: 0px;
  margin-top: 0px;
}

div.padding-top-20px {
  padding-top: 20px;
}

a.option-icon {
  font-size: 17px;
  color: gray;
}

a:hover.glyphicon {
  color: cornflowerblue;
  text-decoration: none;
}
