.panel-body {
  padding:0;
}

a.deco-none {
  color:#FFFFFF !important;
  text-decoration:none;
}

table {
  margin-bottom: 4px;
}

a.icon {
  font-size: 15px;
  color: gray;
}

a:hover.fa, a:hover.glyphicon {
  color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-right-3px {
  margin-right: 3px;
}
