<div *ngIf="studentSessions">

  <div class="margin-bottom-10px">
    <span class="h2">Cheminement</span>
  </div>
  <div class="well">
    <label>Session de début de génération</label>
    <select [(ngModel)]="startingSession">
      <option *ngFor="let session of sessions" [ngValue]="session.id" [ngSwitch]="session.season">
        <span *ngSwitchCase="seasonEnum.SUMMER">Été</span>
        <span *ngSwitchCase="seasonEnum.WINTER">Hiver</span>
        <span *ngSwitchCase="seasonEnum.AUTUMN">Automne</span>
        <span>{{ session.year }}</span>
      </option>
    </select> <br /><br />
    <label>Session du prochain stage</label>
    <select [(ngModel)]="internshipSession">
      <option value="" selected> - Non spécifié - </option>
      <option *ngFor="let session of sessions" [ngValue]="session.id" [ngSwitch]="session.season">
        <span *ngSwitchCase="seasonEnum.SUMMER">Été</span>
        <span *ngSwitchCase="seasonEnum.WINTER">Hiver</span>
        <span *ngSwitchCase="seasonEnum.AUTUMN">Automne</span>
        <span>{{ session.year }}</span>
      </option>
    </select>
    <button class="btn btn-primary pull-right" (click)="generate()">Regénérer un cheminement</button>
  </div>

  <div *ngFor="let studentSession of studentSessions; let i = index">

    <div class="panel panel-default" *ngIf="studentSession.year == 0">
      <div class="panel-heading container-fluid">
        <div class="row">
          <div class="col-xs-2">Sessions passées</div>
          <div class="col-xs-9">
            <span class="label label-primary margin-right-3px" *ngFor="let sessionCourse of studentSession.sessionCourses">
              <a class="deco-none" routerLinkActive="active" routerLink="/courses/{{sessionCourse.course.id}}">{{sessionCourse.course.acronym}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default" *ngIf="studentSession.year != 0">
      <div class="panel-heading container-fluid">
        <div class="row">
          <div [ngSwitch]="studentSession.season" class="col-xs-2">
            <span *ngSwitchCase="seasonEnum.SUMMER">Été</span>
            <span *ngSwitchCase="seasonEnum.WINTER">Hiver</span>
            <span *ngSwitchCase="seasonEnum.AUTUMN">Automne</span>
            <span>{{ studentSession.year }}</span>
          </div>

          <div class="col-xs-9">
            <span class="label label-primary margin-right-3px" *ngFor="let sessionCourse of studentSession.sessionCourses">
              <a class="deco-none" routerLinkActive="active" routerLink="/courses/{{sessionCourse.course.id}}">{{sessionCourse.course.acronym}}</a>
            </span>
          </div>

          <div class="col-xs-1">
            <div class="pull-right">
              <a class="fa fa-unlock icon" (click)="lockSession(studentSession)" *ngIf="!checkSessionIsLocked(studentSession)"></a>
              <a class="fa fa-lock icon" (click)="unlockSession(studentSession)" *ngIf="checkSessionIsLocked(studentSession)"></a>
              <a class="glyphicon glyphicon-resize-vertical icon" data-toggle="collapse" [attr.data-target]="'#collapse' + i"></a>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse{{i}}" class="panel-collapse collapse">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th colspan="2">Cours</th>
              <th class="text-center">De jour</th>
              <th class="text-center">De soir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sessionCourse of studentSession.sessionCourses">
              <td class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">
                <a class="fa fa-lock icon" (click)="unlockCourse(sessionCourse)" *ngIf="sessionCourse.locked == true"></a>
                <a class="fa fa-unlock icon" (click)="lockCourse(sessionCourse)" *ngIf="sessionCourse.locked == false"></a>
              </td>
              <td class="col-md-1 col-lg-1 col-sm-1 col-xs-1"><span class="label label-primary"><a class="deco-none" routerLinkActive="active" routerLink="/courses/{{sessionCourse.course.id}}">{{sessionCourse.course.acronym}}</a></span></td>
              <td class="col-md-8 col-lg-8 col-sm-6 col-xs-6">{{sessionCourse.course.name}}</td>
              <td class="col-md-1 col-lg-1 col-sm-2 col-xs-2 text-center"><span *ngIf="sessionCourse.day" class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
              <td class="col-md-1 col-lg-1 col-sm-2 col-xs-2 text-center"><span *ngIf="sessionCourse.evening" class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
