<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Planificateur de cheminement universitaire</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" *ngIf="!hasLoggedInUser()">
      <li><a routerLink="users/register" routerLinkActive="active">Enregistrement </a></li>
      <li><a routerLink="users/login" routerLinkActive="active">Connexion </a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="hasLoggedInUser()">
      <li><a routerLink="pathways/pathway" routerLinkActive="active" >Cheminement</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ getLoggedInUser().firstName + ' ' + getLoggedInUser().lastName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="users/profile" routerLinkActive="active" > Profil </a></li>
          <li><a routerLink="users/preferences" routerLinkActive="active"> Préferences </a></li>
          <li role="separator" class="divider"></li>
          <li><a (click)="logout()" style="cursor:pointer">Déconnexion</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
