<form [formGroup]="preferencesForm"
  (ngSubmit)="save(preferencesForm.value, preferencesForm.valid)">
  <div style="margin-bottom: 10px;">
    <!--to do: not put inline style-->
    <span class="h2">Préférences</span>
    <button class="btn btn-primary pull-right" type="submit">Sauvegarder</button>
  </div>

  <div class="well grid" >

    <div class="form-group">
      <label>Nombre de cours minimum par session</label>
      <input class="form-control" type="number" name="minSessionCourse" min="1" max="5" formControlName="minSessionCourse" required>
      <div [hidden]="preferencesForm.controls.minSessionCourse.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        <ul>
          <li>La valeur n'est pas acceptable. Veuillez entrer un chiffre entre 1 et 5.</li>
          <li >De plus, il dois être plus petit ou égal au nombre de cours maximum par session.</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label>Nombre de cours maximum par session</label>
      <input class="form-control" type="number" name="maxSessionCourse" min="1" max="5" formControlName="maxSessionCourse" required>
      <div [hidden]="preferencesForm.controls.maxSessionCourse.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        <ul>
          <li>La valeur n'est pas acceptable. Veuillez entrer un chiffre entre 1 et 5.</li>
          <li>De plus, il dois être plus grand ou égal au nombre de cours minimum par session.</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label>Nombre maximum de cours de soir par session</label>
      <input class="form-control" type="number" name="maxEveningCourse" min="1" max="2" formControlName="maxEveningCourse" required>
      <div [hidden]="preferencesForm.controls.maxEveningCourse.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        La valeur doit être 1 ou 2.
      </div>
    </div>

    <div class="form-group">
      <label>Nombre de session entre les stages</label>
      <input class="form-control" type="number" name="sessionBetweenInternship" min="1" max="5" formControlName="sessionBetweenInternship" required>
      <div [hidden]="preferencesForm.controls.sessionBetweenInternship.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        La valeur doit être entre 1 et 5.
      </div>
    </div>

    <div class="form-group">
      <label>Nombre maximum de session pour terminer le cheminement</label>
      <input class="form-control" type="number" name="maxSessionToComplete" min="10" max="100" formControlName="maxSessionToComplete" required>
      <div [hidden]="preferencesForm.controls.maxSessionToComplete.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        La valeur doit être au minimum 10.
      </div>
    </div>

    <div class="form-group">
      <label>Nombre maximum de cours durant un stage</label>
      <input class="form-control" type="number" name="maxCourseDuringInternship" min="1" max="2" formControlName="maxCourseDuringInternship" required>
      <div [hidden]="preferencesForm.controls.maxCourseDuringInternship.valid ||
                     preferencesForm.valid"
           class="alert alert-danger">
        La valeur doit être 1 ou 2.
      </div>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="courseDuringInternship" formControlName="courseDuringInternship">
        Prendre des cours durant les stages
      </label>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="eagerInternship" formControlName="eagerInternship">
        Prendre les stages le plus rapidement possible
      </label>
    </div>

    <div [hidden]="!hasSubmissionError"
         class="alert alert-danger">
      Une erreur est survenu lors de la mise à jour de vos préférences, veuillez réessayer plus tard.
    </div>
  </div>

</form>
